/*
best css-version
stylesheet zu aa_settings.html
to work with
 */
html {
}

#panelRow{
}

#visPan{
    height: 550px;
    position: relative; /*damit möglich ist panelAndSeason an bottom zu setzen*/
}

#panelAndSeason{
    /*on bottom of visPan*/
    position: absolute;
    bottom: 10px;
    left: 2px;
    right: 2px;
}

hr{
    height: 3px;
    background-color: black;
    width: 100%;
}

h2{
    font-size: 15px;
}

/*sm - handy quer*/
@media (min-width: 576px) {
    /*damit wetter icons grösser wird wahrsch aber nicht mehr gebraucht
    img{
        width: 13px;
    }*/
    #settingsSpace{
        height: 100vh; /* ganze bildschirmhöhe*/
        background-color: deeppink;
    }

    #visPan{
        height: 100vh;
    }

}

/*md*/
@media (min-width: 768px) {
    img{
        width: 13px;
    }

}

/*lg*/
@media (min-width: 992px) {
    img{
        width: 27px;
    }
}

/*xl*/
@media (min-width: 1200px) {
    img{
        width: 40px;
    }
}


.col-sm-6{
    padding: 10px;
}

.settingHeader {
    display: inline;
    font-size: 16px;
    position: absolute;
    right: 20%;
}

#winkel {
    font-size: 40px;
}
#valWinkel {
    font-size: 20px;
}

.form-range {
    width: 60%;
    padding: 20px;
}



/*indexDesk.html*/

/*md*/
@media (min-width: 768px) {

    .padding{
        position: fixed;
        top: 0;
        right: 0;
    }

    .container{
        position: fixed;
        top: 0;
        right: 0px;
        background-color: red;
    }
}