/*
best css-version
stylesheet zu aa_settings.html
to work with
 */

html {
}

h2 {
    font-size: 17.5px;
    font-weight: bold;
    padding-top: 6px;
    padding-bottom: 4px;
}

#wet, #jahresz{
    padding-bottom: 15px;
}

.btnWeather {
    height: 35px;
    width: 35px;
    margin: 0px;
    margin-bottom: 5px;
}

.btnSeason {
    height: 35px;
    width: 35px;
    margin: 0 0 10px 0;
}

.settingHeader {
    display: inline;
    /*font-size: 66px; glaub ich nicht mehr gebraucht*/
    position: absolute;
    right: 3%;
    top: 4px;
}

.form-range { /*range slider*/
    width: 100%;
    margin-top: 10%;
    margin-bottom: 0px;
}

#wink, #anz {
    position: relative;
}

#winkel {
    position: absolute;
    top: -10px;
    font-size: 30px; /* grösse °-zeichen*/
}

#valWinkel, #anzPannelsText { /*wert in box*/
    font-size: 15px;
}

hr { /*schwarzer abtrennungsstrich*/
    height: 1px;
    background-color: black;
    padding: 0;
    margin: 0;
}



#visPan {
    height: 550px;
    position: relative; /*damit möglich ist panelAndSeason an bottom zu setzen*/
}

#panelAndSeason {
    /*on bottom of visPan*/
    position: absolute;
    bottom: 10px;
    left: 2px;
    right: 2px;
}
#visWinkel, #leistung{
    height: 15vh;
}
#visWinkel{
    position: relative;
}
#lineBase, #lineAngel{
    height: 1px;
    border: solid 1px;

    position: absolute;
    bottom: 10%;
    left: 20%;
}
#lineBase{
    width: 5vh;
}
#lineAngel{
    width: 7vh;
    transform: rotate(-90deg);
    transform-origin:0% 0%;
}


/*sm - handy quer*/
@media (min-width: 576px) {
    /*damit wetter icons grösser wird wahrsch aber nicht mehr gebraucht*/
    img{
        width: 110%;
        padding-left: 0;
        margin-left: 0;

    }
    #settingsSpace {
        height: 100vh; /* ganze bildschirmhöhe*/
        border-left: #707070 solid 1px;
    }
    .btnWeather, .btnSeason{
        width: 25px;
        height: 25px;
    }

    #wet, #jahresz{
        padding-bottom: 0;
    }

    #visPan {
        height: 100vh;
    }
    #visWinkel{
        height: 70vh;
    }
    #leistung{
        height: 30vh;
    }


    #lineBase{
        width: 20vh;
    }
    #lineAngel{
        width: 25vh;
    }


    @media (min-width: 600px) {
        .btnWeather, .btnSeason{
            width: 27px;
            height: 27px;
        }
    }
    @media (min-width: 650px) {
        .btnWeather, .btnSeason{
            width: 30px;
            height: 30px;
        }
    }
    @media (min-width: 700px) {
        .btnWeather, .btnSeason{
            width: 33px;
            height: 33px;
        }
    }
    @media (min-width: 730px) {
        .btnWeather, .btnSeason{
            width: 35px;
            height: 35px;
        }
    }

}

/*md*/
@media (min-width: 768px) {
    .btnWeather, .btnSeason{
        width: 37px;
        height: 37px;
    }
    @media (min-width: 850px) {
        .btnWeather, .btnSeason{
            width: 40px;
            height: 40px;
        }
    }

}

/*lg*/
@media (min-width: 992px) {
    .btnWeather, .btnSeason{
        width: 42px;
        height: 42px;
        margin-right: 5px;
    }
    @media (min-width: 1110px) {
        .btnWeather, .btnSeason{
            margin-right: 10px;
        }
    }
}

/*xl*/
@media (min-width: 1200px) {
    img {
        width: 100%;
    }
}


/*indexDesk.html
useless??
md
@media (min-width: 768px) {

    .padding {
        position: fixed;
        top: 0;
        right: 0;
    }

    .container {
        position: fixed;
        top: 0;
        right: 0px;
        background-color: red;
    }
}*/