/*
best css-version
stylesheet zu aa_settings.html
to work with
35
 */

html {
    background-color: #F8F8F8;
}

h2 {
    font-size: 17.5px;
    font-weight: bold;
    padding-top: 6px;
    padding-bottom: 4px;
}

#wet, #jahresz{
    padding-bottom: 15px;
}

.btnWeather {
    height: 29px;
    width: 29px;
    margin: 0px;
    margin-bottom: 5px;
}

.btnSeason {
    height: 29px;
    width: 29px;
    margin: 0 0 10px 0;
}

.settingHeader {
    display: inline;
    /*font-size: 66px; glaub ich nicht mehr gebraucht*/
    position: absolute;
    right: 3%;
    top: 4px;
}

.form-range { /*range slider*/
    width: 100%;
    margin-top: 10%;
    margin-bottom: 0px;
}

#wink, #anz {
    position: relative;
}

#winkel {
    position: absolute;
    top: -10px;
    font-size: 30px; /* grösse °-zeichen*/
    max-width: 60px;
    max-height: 2px;
}


#valWinkel, #anzPannelsText { /*wert in box*/
    font-size: 15px;
    border: black solid 1px;
    border-radius: 2px;
    display: inline-block;
    width: 4ch;
    overflow: hidden;
    white-space: nowrap;
}

#anzPannelsText {
    width: 6ch;
}

hr { /*schwarzer abtrennungsstrich*/
    height: 1px;
    background-color: black;
    padding: 0;
    margin: 0;
}



#visPan {
    /*height: 550px;*/
    height: 330px;
    position: relative; /*damit möglich ist panelAndSeason an bottom zu setzen*/
}

#panelAndSeason {
    /*on bottom of visPan*/
    position: absolute;
    bottom: 0px;
    left: 2px;
    right: 2px;
}

#seasonRow{ /*damit sich panel nicht ständig verändern in position wenn jahreszeit geändert wird*/
    height: 80px; /*war 110px vorher habe aber das gefühl 90 reicht aus*/
}


#winkelLeistung{
    border-top: 1px grey solid;
}
#visWinkel, #leistung{
    height: 15vh;
}
#visWinkel{
    position: relative;
}
#lineBase, #lineAngel{
    background-color: black;
    height: 1px;
    border: solid black 1px;

    position: absolute;
    bottom: 15%;
    left: 15%;
}
#lineBase{
    width: 5vh;
}
#lineAngel{
    width: 7vh;
    transform-origin:0% 0%;
}

/*damit winkel und leistung bei kleiner bildschirmhöhe genügend platz hat weil height ursprünglich mit 15vh angegeben*/
@media (max-height: 505px) {

    #visWinkel, #leistung{
        height: 76px;
    }

    #lineBase{
        width: 27px;
    }
    #lineAngel{
        width: 38px;
    }
}

/*Mobile M (wenn F12 dann responsive)*/
@media (min-width: 375px) {

    .btnWeather, .btnSeason {
        height: 35px;
        width: 35px;
    }
}

/*sm - handy quer*/
@media (min-width: 576px) {
    /*damit wetter icons grösser wird wahrsch aber nicht mehr gebraucht*/
    img{
        width: 110%;
        padding-left: 0;
        margin-left: 0;

    }
    #settingsSpace {
        height: 100vh; /* ganze bildschirmhöhe*/
        border-left: #707070 solid 1px;
    }
    .btnWeather, .btnSeason{
        width: 25px;
        height: 25px;
    }

    #seasonRow{ /*damit sich panel nicht ständig verändern in position wenn jahreszeit geändert wird*/
        height: 25vh;
    }

    #wet, #jahresz{
        padding-bottom: 0;
    }


    #winkelLeistung{
        border-top: none;
        border-left: 1px grey solid;
    }
    #visPan {
        height: 100vh;
    }
    #visWinkel{
        height: 60vh;
    }
    #leistung{
        height: 40vh;
    }


    #lineBase{
        width: 70%;
    }
    #lineAngel{
        width: 79%;
    }


    @media (min-width: 600px) {
        .btnWeather, .btnSeason{
            width: 27px;
            height: 27px;
        }
    }
    @media (min-width: 650px) {
        .btnWeather, .btnSeason{
            width: 30px;
            height: 30px;
        }
    }
    @media (min-width: 700px) {
        .btnWeather, .btnSeason{
            width: 33px;
            height: 33px;
        }
    }
    @media (min-width: 730px) {
        .btnWeather, .btnSeason{
            width: 35px;
            height: 35px;
        }
    }

}

/*md*/
@media (min-width: 768px) {
    .btnWeather, .btnSeason{
        width: 37px;
        height: 37px;
    }
    @media (min-width: 850px) {
        .btnWeather, .btnSeason{
            width: 40px;
            height: 40px;
        }
    }

}

/*lg*/
@media (min-width: 992px) {
    .btnWeather, .btnSeason{
        width: 42px;
        height: 42px;
        margin-right: 5px;
    }
    @media (min-width: 1110px) {
        .btnWeather, .btnSeason{
            margin-right: 10px;
        }
    }
}

/*xl*/
@media (min-width: 1200px) {
    img {
        width: 100%;
    }
}


/*indexDesk.html
useless??
md
@media (min-width: 768px) {

    .padding {
        position: fixed;
        top: 0;
        right: 0;
    }

    .container {
        position: fixed;
        top: 0;
        right: 0px;
        background-color: red;
    }
}*/