/**
CSS-File for IDPA-Project 2022 "Solarzellenrechner" by Yannis Lee, Malo Jaboulet, Sarah Frischknecht
Version: 2.4
Final version: 17.04.2022
Author: Sarah Frischknecht
 */

html {
    background-color: #F8F8F8;
}

h2 {
    font-size: 17.5px;
    font-weight: bold;
    padding-top: 6px;
    padding-bottom: 4px;
}

#wet, #jahresz{
    padding-bottom: 15px;
}

.btnWeather {
    height: 29px;
    width: 29px;
    margin: 0 0 5px 0;
}

.btnSeason {
    height: 29px;
    width: 29px;
    margin: 0 0 10px 0;
}

.settingHeader {
    position: absolute;
    right: 3%;
    top: 4px;
}

/*range slider*/
.form-range {
    width: 100%;
    margin-top: 10%;
    margin-bottom: 0;
}

#wink, #anz {
    position: relative;
}

#winkel {
    position: absolute;
    top: -10px;
    font-size: 30px; /* size °-character*/
    max-width: 60px;
    max-height: 2px;
}

/*value in input field*/
#valWinkel, #anzPanelsText {
    font-size: 15px;
    border: black solid 1px;
    border-radius: 2px;
    display: inline-block;
    width: 5ch;
    overflow: hidden;
    white-space: nowrap;
}

/*black separation line*/
hr {
    height: 1px;
    background-color: black;
    padding: 0;
    margin: 0;
}



#visPan {
    height: 330px;
    position: relative;
}
#panelAndSeason {
    /*on bottom of visPan*/
    position: absolute;
    bottom: 0;
    left: 2px;
    right: 2px;
}

#seasonRow{
    height: 80px;
}

#winkelEnergy{
    border-top: 1px grey solid;
}
#visAngel, #energy{
    height: 15vh;
}
#visAngel{
    position: relative;
}
#lineBase, #lineAngel{
    /*to get a movable black line*/
    background-color: black;
    height: 1px;
    border: solid black 1px;

    position: absolute;
    bottom: 15%;
    left: 15%;
}
#lineBase{
    width: 5vh;
}
#lineAngel{
    width: 7vh;
    transform-origin:0 0;
}

/*that angel and energy per day have enough space bc originally they would get 15vh which would not be enough in small display height*/
@media (max-height: 505px) {

    #visAngel, #energy{
        height: 76px;
    }

    #lineBase{
        width: 27px;
    }
    #lineAngel{
        width: 38px;
    }
}

/*Mobile M (get to mobile M if press F12 and then go to responsive)*/
@media (min-width: 375px) {

    .btnWeather, .btnSeason {
        height: 35px;
        width: 35px;
    }
}

/*Bootstrap size sm - mobile phone crosswise*/
@media (min-width: 576px) {
    #settingsSpace {
        height: 100vh;
        border-left: #707070 solid 1px;
    }
    .btnWeather, .btnSeason{
        width: 25px;
        height: 25px;
    }

    #seasonRow{
        height: 25vh;
    }

    #wet, #jahresz{
        padding-bottom: 0;
    }


    #winkelEnergy{
        border-top: none;
        border-left: 1px grey solid;
    }
    #visPan {
        height: 100vh;
    }
    #visAngel{
        height: 60vh;
    }
    #energy{
        height: 40vh;
    }


    #lineBase{
        width: 70%;
    }
    #lineAngel{
        width: 79%;
    }


    @media (min-width: 600px) {
        .btnWeather, .btnSeason{
            width: 27px;
            height: 27px;
        }
    }
    @media (min-width: 650px) {
        .btnWeather, .btnSeason{
            width: 30px;
            height: 30px;
        }
    }
    @media (min-width: 700px) {
        .btnWeather, .btnSeason{
            width: 33px;
            height: 33px;
        }
    }
    @media (min-width: 730px) {
        .btnWeather, .btnSeason{
            width: 35px;
            height: 35px;
        }
    }

}


/*Bootstrap size md*/
@media (min-width: 768px) {
    .btnWeather, .btnSeason{
        width: 37px;
        height: 37px;
    }
    @media (min-width: 850px) {
        .btnWeather, .btnSeason{
            width: 40px;
            height: 40px;
        }
    }

}

/*Bootstrap size lg*/
@media (min-width: 992px) {
    .btnWeather, .btnSeason{
        width: 42px;
        height: 42px;
        margin-right: 5px;
    }
    @media (min-width: 1110px) {
        .btnWeather, .btnSeason{
            margin-right: 10px;
        }
    }
}

/*Bootstrap size xl*/
@media (min-width: 1200px) {
    img {
        width: 100%;
    }
}